.success{
    min-height: calc(69.9vh);
margin-right: 4rem;
}
.success__image{
    width: auto;
    height:20rem;
}
@media only screen and (max-width: 770px) {
    .success__image{
    width: auto;
    height:10rem;
    }
}