.category {
  min-height: calc(70vh);
  margin-right: 4rem;
}
.category__error > img {
  object-fit: contain;
  width: 100%;
}
.category__error > h1 {
  color: rgb(145, 2, 2);
}
.category__error > button {
  padding: 0.5rem;
  background-color: var(--clr-primary);
  color: white;
  font-size: medium;
  border: 1px solid var(--clr-primary);
  cursor: pointer;
}
