.row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.row__category__tag {
  position: absolute;
  bottom: 0px;
  height: 8rem;
  width: 100%;
  text-align: center;
  left: 0px;
  padding: 5px;
  background-color: #00000061;
  font-size: 1.25em;
  font-weight: 600;
  color: white;
}

.row__category__tag__span {
  text-transform: uppercase;
}

.card {
  max-width: 25rem;
  object-fit: fill;
  margin: 0.75rem;
}

.row__type {
  text-transform: uppercase;
  flex: 1;
  margin: 2rem;
  font-size: 5vh;
}

.row__image {
  height: 100%;
  width: 100%;
}
