.header {
  background-color: white;
  height: 5rem;
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.header__logo {
  margin-left: 0.5rem;
  height: 9.5em;
}
.MuiTypography-body1 {
  font-family: "Open Sans" !important;
}

.header__category {
  display: flex;
  flex: 0.6;
  justify-content: space-around;
}

.header__category > * {
  text-decoration: none;
  color: #333333;
}
.header__category__link {
  text-decoration: none;
  color: #333333;
}
.header__search {
  flex: 0.5;
  display: flex;
  margin-left: 2rem;
}
.header__search__input {
  width: 52vw;
  height: 2.25rem;
  border: 1px solid #f4f1f1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;
}

.header__search__button {
  cursor: pointer;
}

.fa.fa-search {
  font-size: 1.5rem;
  color: var(--clr-primary);
}

.header__lang {
  margin-left: 2rem;
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  display: flex;
  align-items: center;
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-secondary-light);
  height: 1.5rem;
}
.header__lang > select {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header__right {
  display: flex;
  justify-content: space-around;
  flex: 0.3;
  align-items: center;
}
.header__user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header__user__label {
  font-size: 0.75rem;
  margin-bottom: -1.1rem;
  top: 82%;
  position: absolute;
  left: 83%;
  transform: translate(-50%, -50%);
}

.MuiSvgIcon-root {
  height: 1.5em !important;
  width: 1.5em !important;
}
.MuiFilledInput-root {
  display: flex;
  align-items: center;
  height: 45px;
  width: 7rem;
  margin-top: auto;
}
.MuiSelect-select.MuiSelect-select {
  display: flex;
  align-self: flex-end;
}

.search {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.header__searchdropdown {
  position: absolute;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 2.75rem;
  transform: translate(108%, -10%);
  margin: 0;
}
.option {
  height: 2.75rem;
  border-bottom: 1px solid white;
  width: 28rem;
  background-color: #ffffff;
  cursor: pointer;
  padding-left: 2.75rem;
  padding-right: 2.75rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.option:hover {
  background-color: #f4f1f1;
}

.MuiIconButton-edgeEnd {
  margin-right: 25px !important;
}
.header__translate {
  -moz-appearance: none;

  -webkit-appearance: none;
  font-size: medium;
  border: none;
  margin-left: 3.75rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  line-height: 1.9;
}

.header__translate::-ms-expand {
  display: none;
}

@media only screen and (max-width: 1442px) {
  .makeStyles-formControl-7 {
    left: 10%;
  }
  .header__searchdropdown {
    transform: translate(99%, -10%);
  }
  .option {
    max-width: 29rem;
    font-size: 13px;
  }
}
@media only screen and (max-width: 1024px) {
  .header__searchdropdown {
    transform: translate(125%, -10%);
  }
  .option {
    max-width: 17rem;
    font-size: 13px;
  }
  .search {
    width: 20rem;
  }
  .MuiTypography-noWrap {
    font-size: 0.8rem !important;
  }
  .MuiIconButton-edgeEnd {
    margin-right: 1px !important;
  }
  .makeStyles-formControl-7 {
    left: 28% !important;
  }
  select {
    font-size: medium;
  }
}

@media only screen and (max-width: 770px) {
  .header__searchdropdown {
    transform: translate(81%, -10%);
  }
  .option {
    max-width: 17rem;
  }
}
@media only screen and (max-width: 426px) {
  .header__logo {
    display: none;
  }
  .search {
    width: 13rem;
  }
  .makeStyles-formControl-7 {
    left: 0% !important;
  }
  select {
    font-size: medium;
  }
  .header__searchdropdown {
    transform: translate(32%, -10%);
  }
  .option {
    max-width: 13rem;
  }
}
@media only screen and (max-width: 323px) {
  .header__searchdropdown {
    transform: translate(20%, -10%);
  }
  .option {
    max-width: 12rem;
  }
}
