.header {
  background-color: white;
  height: 3.5rem;
  flex: 1;
  background-color: rgb(212, 209, 209);
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.header__logo {
  margin-left: 0.5rem;
  height: 2.331vh;
}

.header__category {
  display: flex;
  flex: 0.2;
  justify-content: space-around;
}

.header__category > * {
  text-decoration: none;
  color: #333333;
}
.header__search {
  flex: 0.5;
}
.header__search__input {
  width: 47vw;
  height: 2.25rem;
  border: 1px solid #f4f1f1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
