.principal {
  width: 98vw;
  height: 55vh;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
}

.dot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.content {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

@media only screen and (max-width: 768px) {
  .principal {
    width: 98vw;
    height: 53vh;
  }
  .slide__image {
    height: 20rem;
    width: 41rem;
    object-fit: contain;
  }
}

@media only screen and (max-width: 426px) {
  .principal {
    width: 98vw;
    height: 25vh;
  }
  .slide__image {
    height: 100%;
    width: 25rem;
    object-fit: contain;
  }
}
@media only screen and (max-width: 377px) {
  .principal {
    width: 98vw;
    height: 20vh;
  }
  .slide__image {
    height: 100%;
    width: 20rem;
    object-fit: contain;
  }
}
